[run]
branch = True
source =
    bidspm_gui
    lib
    webapp
omit =
    tests/*
    build/*
    external/*
    frontend_desktop/*
    local_src/*

[report]
show_missing = True
skip_covered = False
precision = 1
